{% extends 'base.html.twig' %}

{% block title %}Listing des sociétés
{% endblock %}

{% block body %}
	<section>
		<h1>Listing des sociétés</h1>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					<strong>{{ message }}</strong>
				</div>
			{% endfor %}
		{% endfor %}


		<h3>Nom des sociétés :</h3>

		{% for company in companies %}
			<div>
				<a href="{{ path('company_show', {'id': company.id}) }}" title="Details de la société" class="indexLinks">{{ company.name }}</a>
			</div>
		{% else %}

			<div colspan="22">Aucune donnée enregistrée</div>
		{% endfor %}


		<button type="btn button" class="btn btn-info">
			<a href="{{ path('company_new') }}">Ajouter une nouvelle société</a>
		</button>
	</section>
{% endblock %}
