{% extends 'base.html.twig' %}

{% block title %}Détails de la société
{% endblock %}

{% block body %}
	<section>
		<h1>Détails de la société : {{ company.name }}</h1>
		<h4>Date d'ajout : Le {{ company.createdAt ? company.createdAt|date('d-m-Y H:i:s')}}</h4>
		<input type="datetime-local" id="dateChange">
		<div>
			Dénomination Sociale :
			<strong>{{ company.name }}</strong>
		</div>
		<div>
			Siren :
			<strong>{{ company.siren }}</strong>
		</div>
		<div>
			Ville d'immatriculation :
			<strong>{{ company.registrationCity }}</strong>
		</div>
		<div>
			Date d'immatriculation :
			<strong>{{ company.registrationDate ? company.registrationDate|date('Y-m-d H:i:s') : '' }}</strong>
		</div>
		<div>
			Capital :
			<strong>{{ company.capital }}</strong>
		</div>
		<h4 class="formTitle">
			Adresse principale
		</h4>
		<div>
			Numéro de rue :
			<strong>{{ company.streetNumber1 }}</strong>
		</div>
		<div>
			Type de voie :
			<strong>{{ company.wayType1 }}</strong>
		</div>
		<div>
			Nom de rue :
			<strong>{{ company.wayName1 }}</strong>
		</div>
		<div>
			Ville :
			<strong>{{ company.city1 }}</strong>
		</div>
		<div>
			Code Postal :
			<strong>{{ company.postCode1 }}</strong>
		</div>
		<h4 class="formTitle">
			Adresse secondaire(optionnelle)
		</h4>
		<div>
			Numéro de rue :
			<strong>{{ company.streetNumber2 }}</strong>
		</div>
		<div>
			Type de voie :
			<strong>{{ company.wayType2 }}</strong>
		</div>
		<div>
			Nom de rue :
			<strong>{{ company.wayName2 }}</strong>
		</div>
		<div>
			Ville :
			<strong>{{ company.city2 }}</strong>
		</div>
		<div>
			Code Postal :
			<strong>{{ company.postCode2 }}</strong>
		</div>
		<h4 class="formTitle">
			Autre adresse (optionnelle)
		</h4>
		<div>
			Numéro de rue :
			<strong>{{ company.streetNumber3 }}</strong>
		</div>
		<div>
			Type de voie :
			<strong>{{ company.waytype3 }}</strong>
		</div>
		<div>
			Nom de rue :
			<strong>{{ company.wayName3 }}</strong>
		</div>
		<div>
			Ville :
			<strong>{{ company.city3 }}</strong>
		</div>
		<div>
			Code Postal :
			<strong>{{ company.postCode3 }}</strong>
		</div>
		<div>
			Mis à jour le :
			<strong>{{ company.updatedAt ? company.updatedAt|date('d-m-Y H:i:s')}}</strong>
		</div>
	


		<div class="listButton">
			<button type="btn button" class="btn btn-primary">
				<a href="{{ path('company_index') }}">Retour à la liste</a>
			</button>

			<button type="btn button" class="btn btn-warning">
				<a href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>
			</button>
		</div>

		{{ include('company/_delete_form.html.twig') }}
	</section>
	<script>
		var companyId = "{{ company.id }}"
$(document).ready(function () {

var changeDate = document.getElementById('dateChange');

changeDate.addEventListener("change", function () {
	var selectedDate = changeDate.value;
	$.ajax({
		type: "GET",
		url: "{{ path('company_show_history') }}" + "?selectedDate=" + selectedDate + "&companyId=" + companyId,
		async: true,
		success : function (a){

			strong = document.getElementsByTagName("strong");
			
			strong[0].innerHTML = a[0]["name"];
			strong[1].innerHTML = a[0]["siren"];
			strong[2].innerHTML = a[0]["registrationCity"];
			strong[3].innerHTML = a[0]["registrationDate"];
			strong[4].innerHTML = a[0]["capital"];
			strong[5].innerHTML = a[0]["streetNumber1"];
			strong[6].innerHTML = a[0]["wayType1"];
			strong[7].innerHTML = a[0]["wayName1"];
			strong[8].innerHTML = a[0]["city1"];
			strong[9].innerHTML = a[0]["postCode1"];
			strong[10].innerHTML = a[0]["streetNumber2"];
			strong[11].innerHTML = a[0]["wayType2"];
			strong[12].innerHTML = a[0]["wayName2"];
			strong[13].innerHTML = a[0]["city2"];
			strong[14].innerHTML = a[0]["postCode2"];
			strong[15].innerHTML = a[0]["streetNumber3"];
			strong[16].innerHTML = a[0]["waytype3"];
			strong[17].innerHTML = a[0]["wayName3"];
			strong[18].innerHTML = a[0]["city3"];
			strong[19].innerHTML = a[0]["postCode3"];
			strong[20].innerHTML = a[0]["updatedAt"];

		}
		
	});
})
})
	</script>
{% endblock %}
